---
import Layout from '@/layout/Layout.astro'
const title = "About us"
---

<Layout title={title}>
	
	<article data-router-view="about">
		<h1>
			<s>/now</s> <br>
			
			<span class="font-alt">
				Enjoying my son &amp;<br>
				 looking for a job
			</span>
		</h1>
	</article>

</Layout>