---
import Layout from '@/layout/Layout.astro'
const title = "Projects"
---

<Layout title={title}>
	
	<article data-router-view="projects">
		<ul class="projects-list">
			<li class="projects-list--item">
				<img src="" alt="">
				<h1>Project name</h1>
			</li>
		</ul>
	</article>

</Layout>

