---


---
  <style>
    .nav {
      position: fixed;
      bottom: 10px;
      left: 10px; & a {
        font-size: 12px;
      }
    }
  </style>
  
  <nav class="nav">
  
    <a href="/">home</a>
    <a href="about">about</a>
    <a href="projects">projects</a>
    <a href="all-html-elements">all HTML elements</a>
  </nav>